@inherits System.Web.Mvc.WebViewPage
@using Upload.SpreadShirts.Areas.Upload.Models;

@{
    ViewBag.Title = "SpreadShirt";
    Layout = "~/Views/Shared/_Theme.cshtml";
    List<OShop> lsShop = (List<OShop>)ViewData["Shop"];
}

<script src="~/Scripts/SpreadShirt/spread-core.js"></script>
<script src="~/Scripts/SpreadShirt/spread-login.js"></script>

<style>
    .displayShop {
        box-shadow: 0px 2px 5px -1px #444;
        padding: 10px;
        margin-bottom: 10px;
    }

    #show-progress {
        width: 100%;
        height: 300px;
        overflow-y: auto;
    }

        #show-progress li {
            list-style: none;
            margin-top: 3px;
        }

    hr {
        margin-top: 0;
        margin-bottom: 0;
    }

    .image-scroll {
        height: 450px;
        overflow-y: auto;
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 25px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #10c4b2;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    .in-progress{
        font-style: italic;
        color: grey;
    }
    .in-done{
        font-weight: bold;
        color: darkgreen;
    }
    .in-error{
         color: orangered;
    }
</style>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Upload</a></li>
        <li><a href="#tab_2" data-toggle="tab">Using File</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">[Upload] <b class="pull-right">Session: <span class="lblID">@ViewBag.Email</span></b></h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input id="txtName" value="$name" name="Name" type="text" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea style="max-width: 100%;" id="txtDescription" class="form-control" rows="3" placeholder="Enter description ...">$name</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tag</label>
                                        <textarea style="max-width: 100%;" id="txtTag" class="form-control" rows="3" placeholder="fish, monkey, shirts..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Price</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input id="txtPrice" value="00.00" type="text" class="form-control k-textbox" name="Price" placeholder="Enter Price">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12" id="action-button">
                                    @if (ViewBag.Login == true)
                                    {
                                        <button class="k-button k-primary" style="width:150px;" id="btnUpload">Upload</button>
                                    }
                                    else
                                    {
                                        <button class="k-button k-primary btnShowLogin" style="width:150px;" id="btnShowLogin" data-toggle="modal" data-target="#modal-default">Login</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- Data input -->
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Image Design</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body image-scroll">
                            <div class="form-group">
                                <input type="file" id="fInputFile" name="files" multiple accept="image/*">
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- Image list -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sale in all shops</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row" id="show-shop">
                                @if (ViewData["Shop"] != null)
                                {
                                    foreach (OShop item in lsShop)
                                    {
                                <div class="col-md-3">
                                    <div class="displayShop">
                                        <div class="row">
                                            <div class="col-md-8"><span><b>ID:</b> <small>@item.TargetID</small></span></div>
                                            <div class="col-md-4">
                                                <label class="switch">
                                                    <input type="checkbox" class="select-item-shop" value="@item.TargetID">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <hr />
                                        <h3 class="text-align-center">@item.Name</h3>
                                    </div>
                                </div>
                                    }
                                }
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- Sale in all Shop -->
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">[Upload] <b class="pull-right">Session: <span class="lblID">@ViewBag.Email</span></b></h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <input type="file" id="fInputFileData" name="files" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12" id="action-button-file">
                                    @if (ViewBag.Login == true)
                                    {
                                        <button class="k-button k-primary" style="width:150px;" id="btnUploadUsingFile">Upload</button>
                                    }
                                    else
                                    {
                                        <button class="k-button k-primary btnShowLogin" style="width:150px;" id="btnShowLogin" data-toggle="modal" data-target="#modal-default">Login</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-success box-solid">
            <div class="box-header">
                <h3 class="box-title">Progress Upload</h3>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <ul id="show-progress"></ul>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- Sale in all Shop -->
</div>
<div class="modal fade in" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Login Spread</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Username</label>
                                <div class="col-md-8">
                                    <input id="txtUsername" name="Username" type="text" class="form-control pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Password</label>
                                <div class="col-md-8">
                                    <input id="txtPassword" name="Password" type="password" class="form-control pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-off"></span>
                    Close
                </button>
                <button type="button" class="btn btn-danger" id="btnLogin">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>